html {
    padding: 0;
    margin: 0;
    color: #555;
    font-family: "SF Mono Regular", "Source Code Pro", "Inconsolata", "Monaco", monospace;
    font-size: 14px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

a:hover,
a:visited,
a:active,
a:link {
    color: inherit;
    text-decoration: inherit;
}

header {
    text-align: center;
}

h1 {
    font-weight: 100;
    font-size: 3em;
    text-align: center;
    width: auto;
}

h2 {
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    width: auto;
    display: inline;
    color: #09f;
}

h3 {
    font-weight: 200;
    font-size: 1.2em;
    text-align: left;
    background-color: black;
    color: white;
    margin-bottom: 0;
    width: auto;
    padding: 0.2em;
    display: inline-block;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #09f;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #09f;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #09f;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #09f;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #09f;
  }
}

#navigation {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}

#navigation ul {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#navigation ul li {
    display: inline-block;
    padding: .4em;
}

#navigation ul li:hover {
    color: #09f;
}

.content {
    font-size: 1.2em;
    padding: 2em;
    line-height: 1.8em;
}

#about {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#about a:link,
#about a:hover,
#abouta:active,
#about a:visited {
    background-color: #555;
    color: white;
    padding: .2em;
}

#contact {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#contact a:link,
#contact a:hover,
#contact a:active,
#contact a:visited {
    background-color: #555;
    color: white;
    padding: .2em;
}


#my-image {
    width: 100%;
    max-width: 200px;
    max-height: 200px
}

/* Link Styles */

#available{
    background-color: #078c11 !important;
}

#github {
    background-color: #09f !important;
}

#ddh {
    background-color: #ff7702 !important;
}

#ddg {
    background-color: #51a008 !important;
}

#work {
    text-align: center;
}

.workitem {
    overflow: none;
    max-width: 400px;
    display:inline-block;
    padding: 20px;
    vertical-align: top;
}


.worktitle {
    color: rgb(255, 255, 255);
    background-color: rgb(15, 28, 61);
}

.workitemimg {
    height: auto;
    width: auto;

    max-height: 200px;
    max-width: 600px;
    max-width: 100%;
    border-radius: 3px;
}
